/**
  用来覆盖第三方的样式
*/
:global {
	.ant-layout-header {
		background-color: #f0f2f5;
		padding: 0;
	}
	.ant-layout-sider {
		background-color: #f0f2f5;
	}
	.ant-layout-footer {
		padding: 0;
	}
	// .ant-menu {
	// 	background-color: palegoldenrod;
	// }
	// .ant-menu-submenu > .ant-menu {
	// 	background-color: palegoldenrod;
	// }
	// .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
	// 	background-color: white;
	// }
}
